/* General Styles */
body {
    font-family: 'Segoe UI', sans-serif; /* Only using 'Segoe UI' */
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container .section-container {
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.container .section-container > * {
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}


/* Typography */
h1, h2, h3, p {
    color: #333;
}

h2 {
    font-size: 2em; /* Adjust size of the section name as needed */
}

p {
    font-size: 0.8em; /* Make the question smaller */
    margin-top: 10px; /* Add some space between the section name and question */
}

.section h2 {
    margin: 0 0 20px;
    font-size: 24px;
}
.section h2 {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
}

.section h2 button {
    margin-left: 10px; /* Odstęp między tekstem a przyciskiem */
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.section h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Consistent Margins for Sections */
.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text and inline elements */
}


/* Navigation */
.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 20px;
}

.nav-link {
    padding: 15px 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    flex: 1;
    text-align: center;
}

.nav-link.active {
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
}

.nav-link:hover {
    background-color: #e9ecef;
    color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button,
.button-yes,
.button-no,
.button-reset {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

button {
    background-color: #007bff;
    color: #fff;
}

.button-yes {
    background-color: #28a745;
    color: #fff;
}

.button-no {
    background-color: #dc3545;
    color: #fff;
}

.button-reset {
    background-color: #ffc107;
    color: #fff;
}

button:hover,
.button-yes:hover,
.button-no:hover,
.button-reset:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Calendar Styles */
.calendar {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.calendar th {
    background-color: #f8f9fa;
}

table {
    max-width: 100%; /* Maximum width to match .section */
    width: 70%; /* Full width */
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
    table-layout: fixed; /* Ensure fixed layout for even columns */

}

tr,
th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    max-width: 90%; /* Maximum width to match .section */
    width: 90%; /* Full width */
    margin: 10px auto; /* Center the table */
    border-collapse: collapse;
}

th {
    background-color: #f8f9fa;
}


/* Results */
.results {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

/* Reset Link */
.reset-link {
    margin-top: 20px;
    font-size: 16px;
    color: #dc3545;
    text-decoration: none;
}

.reset-link:hover {
    text-decoration: underline;
}

/* Footer Styles */
.footer {

    text-align: center;
    padding: 20px;
    background-color: #282c34;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px 12px 0 0;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer a:hover {
    color: #21a1f1;
    text-decoration: underline;
}

.footer .heart {
    display: inline-block;
    color: #e25555;
    animation: heartbeat 1.2s infinite;
}

.footer p {
    margin: 0;
    color: #ffffff; /* Changed to white */

}

/* Heartbeat Animation */
@keyframes heartbeat {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: scale(1.3);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 10px;
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    button,
    .button-yes,
    .button-no,
    .button-reset {
        padding: 10px 20px;
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* General select styling */
select {
    appearance: none; /* Remove default styling */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    width: 100%; /* Full width */
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* Style the select element on focus */
select:focus {
    border-color: #2196F3; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Custom arrow */
select::after {
    content: '▼'; /* Unicode character for down arrow */
    position: absolute;
    right: 10px;
    top: calc(50% - 5px); /* Center the arrow vertically */
    pointer-events: none; /* Prevent interaction */
}

/* Wrapper to position select */
.select-wrapper {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    margin-bottom: 10px; /* Space between select wrappers */
}

.select-wrapper label {
    margin-right: 10px; /* Space between label and select */
}

.select-wrapper select {
    flex: 1; /* Allows the select element to grow and fill available space */
}

.input-wrapper {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    margin-bottom: 10px; /* Space between input wrappers */
}

.input-wrapper label {
    margin-right: 10px; /* Space between label and input */
}

.input-wrapper input {
    flex: 1; /* Allows the input to grow and fill available space */
}

label {
    margin-right: 10px; /* Adds space between the label and select */
}

.action-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: flex-end; /* Align items to the right */
    gap: 10px; /* Space between elements */
    margin-top: 20px; /* Space above the container */
}

/* Media query for smaller devices */
@media (max-width: 600px) {
    .action-container {
        flex-direction: column; /* Stack elements vertically */
        align-items: stretch; /* Align items to stretch the full width */
    }

    .input-calendar {
        position: relative; /* Ensure proper stacking context */
        z-index: 1; /* Bring it above the number input */
    }

    /* Ensure the number input is beneath the calendar input */
}

/* Input Field */
.liczba {
    width: auto; /* Adjust width as necessary */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

/* Aktualizuj Button */
.button-aktualizuj {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff; /* Button color */
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.button-aktualizuj:hover {
    background-color: #0056b3; /* Darker button color on hover */
}

/* Input Field for Calendar */
.input-calendar {
    padding: 12px; /* Match button padding */
    font-size: 16px; /* Match button font size */
    border: 1px solid #ced4da;
    border-radius: 8px;
    width: 100%; /* Full width for responsiveness */
    box-sizing: border-box; /* Include padding and border in width */
    transition: border-color 0.3s; /* Transition for focus effect */
}

.input-calendar:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* CSS for the tmp-css class */
.tmp-css {
    display: flex;
    flex-direction: row;   /* Align items in a row */
    justify-content: space-between;  /* Evenly distribute the content horizontally */
    align-items: center;   /* Vertically center the content */
    padding: 10px 20px;
    background-color: #f9f9f9;  /* Light gray background */
    border: 1px solid #ddd;  /* Light border */
    border-radius: 8px;
    width: 100%; /* Full width of parent */
    gap: 20px;   /* Adds space between elements */
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.section-header button {
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

h5 {
    font-size: 18px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
}

button:hover {
    background-color: #0056b3;  /* Darker blue on hover */
}



